# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Environment
.env
.env.local
.env.*.local

# ROMs (do not commit copyrighted files)
server/roms/**/*.zip
server/roms/**/*.nes
server/roms/**/*.sfc
server/roms/**/*.gba
server/roms/**/*.bin

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
